.app-footer {
  background-color: $clr3;
  color: $clr1;
  margin-top: auto;
  padding: 0;
  height: 60px;
  position: fixed;
  width: 100%;
  bottom: 0;
  h3 {
    margin-top: rem(16px);
    margin-bottom: rem(24px);
  }
}
