button {
  border: 0;
  background-color: $clr1;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

form > * {
  display: block;
  width: 200px;
  margin: 10px 0px;
}

.btn-link {
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  transition: 0.5s;
}
.btn-link:hover {
  background-color: $clr1;
  transform: scale(1.1);
}
.button-icon {
  height: 46px;
  width: 46px;
  background-color: $clr3;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: rem(12px);
}

.btn-div-lbl {
  div {
    display: inline-block;
    position: relative;
    top: -5px;
  }
  button {
    margin-top: 0;
    margin-bottom: 0;
  }
}
