.contacts-view {
  @include dark-bg;
  h1 {
    text-align: center;
    color: $clr3;
  }
  .contacts-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: rem(18px);
    padding-bottom: 200px;
  }
}
