.contact-details-view {
  @include dark-bg;
}
.contact-details {
  margin-top: 60px;
  border: 1px solid;
  padding: 20px 10px 20px;
  background-color: $clr8;
  border-radius: 5px;
  height: fit-content;
  .hr-divider {
    height: 3px;
    background: $header-gradient;
    opacity: 0.8;
    margin-bottom: rem(36px);
  }
  .contact-name {
    font-family: big-shoulders;
    font-weight: 700;
    font-size: 42px;
    color: $clr3;
    text-transform: capitalize;
  }
  .contact-info {
    flex-wrap: wrap;
    gap: 32px;
    .contact-text {
      color: $clr3;
      flex: 1;
      font-size: rem(18px);
    }
  }
  .contact-text-title {
    padding-bottom: rem(24px);
    margin-bottom: auto;
    font-weight: 700;
    font-size: rem(24px);
    text-transform: capitalize;
  }
  .avatar {
    width: 300px;
    border: 2px solid;
    border-image-source: $logo-gradient;
    border-image-slice: 1;
  }
  h4 {
    margin: 0;
    padding-bottom: rem(24px);
  }
  a.go-back {
    margin-left: auto;
    &:active {
      color: $clr2;
      font-weight: 700;
    }

    div {
      display: inline-block;
      position: relative;
      top: -5px;
    }
    button {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
