@font-face {
  font-family: azeret;
  src: url(../../assets/fonts/AzeretMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: big-shoulders;
  src: url(../../assets/fonts/BigShouldersDisplay-VariableFont_wght.ttf);
  
}
