// Colors
$clr1: #fff;
$clr2: #040404;
$clr3: #656565;
$clr4: #6570cf00;
$clr5: #bf953f;
$clr6: #fbf5b7;
$clr8:#efefef;
$header-gradient: linear-gradient(to right, #040404, #000000, #656565);
$logo-gradient: linear-gradient(
  to top,
  #bf953f,
  #fcf6ba,
  #b38728,
  #fbf5b7,
  #aa771c
);
$footer-gradient: linear-gradient(0deg, #6570cf 0%, #6570cf00 100%);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$tablet-breakpoint: 900px;
$normal-breakpoint: 1260px;
$desktop-breakpoint: 1400px;

// fonts
